@{
    ViewBag.Title = "My Dashboard";
    ViewBag.ShowMainMenu = true;
}

@if (User.IsInRole("Member") || User.IsInRole("Admin"))
{
@section LeftColumn
{
    <ul class="nav nav-tabs nav-stacked" id="myTab">
        <li class="active"><a href="#OrdersByCampaign">Orders By Campaign</a></li>
        <li><a href="#OrdersInProgress">Orders In Progress</a></li>
        <li><a href="#CustomersByState">Customers By State</a></li>
    </ul>
}

    <div class="tab-content">

        <div class="tab-pane active" id="OrdersByCampaign">
            @Html.Partial("~/Views/Reports/OrdersByCampaign.cshtml")
        </div>

        <div class="tab-pane" id="OrdersInProgress">
            @Html.Partial("~/Views/Reports/OrdersInProgress.cshtml")
        </div>

        <div class="tab-pane" id="CustomersByState">
            @Html.Partial("~/Views/Reports/CustomersByState.cshtml")
        </div>

    </div>
}