@{
    ViewBag.Title = "My Dashboard";
    ViewBag.ShowMainMenu = true;
}

@if (!User.Identity.IsAuthenticated)
{
    <h2>
        Welcome to Christian Kropf.  We are a company that specializes in fundraisers.
    </h2>
    
    <p>
        This is more about Christian Kropf
    </p>
}
else if (User.IsInRole("Admin"))
{
    <h1>admin</h1>
    
    @Html.Partial("~/Views/Dashboards/AdminDashboard.cshtml")
}dd
else if (User.IsInRole("Super Admin"))
{
    <h1>super</h1>

    @Html.Partial("~/Views/Dashboards/SuperDashboard.cshtml")
}
else if (User.IsInRole("Member"))
{
    <h1>member</h1>

    @Html.Partial("~/Views/Dashboards/OrganizationDashboard.cshtml")
}