@model DemoApplication.Models.Campaigns.CampaignModel

@{
    ViewBag.Title = "Campaign Builder";
}

<h4>Step 1: Choose from our Popular Campaigns</h4>

<hr/>

<div class="">
    <a href="#" class="btn btn-large btn-inverse">Next: Customize Campaign</a>
</div>