@model DemoApplication.Models.Campaigns.CampaignModel

@{
    ViewBag.Title = "Campaign Manager";
}

<h4>Step 1: Choose from our Popular Packages</h4>


<table class="table">
    <tr>
        <th>Package ABC</th>
        <th>Package DEF</th>
        <th>Package GHI</th>
    </tr>
    <tr>
        <td>
            <ul>
                <li>
                    <a href="#">Product ABC</a>
                </li>
                <li>
                    <a href="#">Product DEF</a>
                </li>
                <li>
                    <a href="#">Product GHI</a>
                </li>
                <li>
                    <a href="#">Product JKL</a>
                </li>
                <li>
                    <a href="#">Product MNO</a>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li>
                    <a href="#">Product ABC</a>
                </li>
                <li>
                    <a href="#">Product DEF</a>
                </li>
                <li>
                    <a href="#">Product GHI</a>
                </li>
                <li>
                    <a href="#">Product JKL</a>
                </li>
                <li>
                    <a href="#">Product MNO</a>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li>
                    <a href="#">Product ABC</a>
                </li>
                <li>
                    <a href="#">Product DEF</a>
                </li>
                <li>
                    <a href="#">Product GHI</a>
                </li>
                <li>
                    <a href="#">Product JKL</a>
                </li>
                <li>
                    <a href="#">Product MNO</a>
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <a href="#" class="btn btn-large btn-inverse">Select Package</a>
        </td>
        <td>
            <a href="#" class="btn btn-large btn-inverse">Select Package</a>
        </td>
        <td>
            <a href="#" class="btn btn-large btn-inverse">Select Package</a>
        </td>
    </tr>
</table>

<hr/>

<div class="">
   
</div>