@model IList<DemoApplication.Core.Model.Campaign>
@{
    ViewBag.Title = "Manage Campaigns";
}

@section AltNav
{
    <a href="@Url.Action("Create", "Campaigns")" class="btn btn-large btn-inverse pull-right span2">Create Campaign</a>
}

@foreach (var campaign in Model)
{
    <div class="well">

        <div class="row-fluid">
            <div class="span1">
                @campaign.Id
            </div>
            <div class="span11">
                @campaign.Name
            </div>
        </div>

        <div class="row-fluid">
            <div class="span11 offset1">
                @campaign.Description
            </div>
        </div>


    </div>
}