@model DemoApplication.Models.Organization.OrganizationProfileModel
@{
    ViewBag.Title = "Create your Organization";
}

@using (Html.BeginForm("Register2", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{                                 
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })
                                   
    @Html.EditorForModel()         
            
    <div class="form-actions">
        <input type="submit" value="Create Organization" class="btn btn-inverse btn-large" />
        <input type="reset" value="Clear Form" class="btn btn-large" title="Remove all the data from the form." />
    </div>                          
}
