@model DemoApplication.Core.Model.InvitationInfo

@{
    ViewBag.Title = "Invite new User";
}

@using (Html.BeginForm("Index", "Invitations"))
{
    @Html.ValidationSummary(true, "Unable to send invitation. Please correct the errors and try again.", new { @class = "alert alert-block alert-error" })

    @Html.EditorForModel()

    <div class="form-actions">
        <input type="submit" value="Send Invite" class="btn btn-inverse btn-large" />
    </div>
}