@model DemoApplication.Models.Orders.CreateOrderModel

@{
    ViewBag.Title = "Create Order";
}


<form method="POST" action="" class="form-horizontal">

    @Html.ValidationSummary(true, "Unable to create order. Please correct the errors and try again.", new {@class = "alert alert-block alert-error"})

    @Html.EditorForModel()

    <div class="form-actions">
        <input type="submit" value="Create" class="btn btn-inverse btn-large" />
    </div>
</form>