@{
    ViewBag.Title = "View Reports";
}

<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-stacked nav-pills">
            <li class="active">
                <a href="#">asdf</a>
            </li>
            <li>
                <a href="#">asdf</a>
            </li>
        </ul>
    </div>
    <div class="span8 offset1">
        asdf
    </div>
</div>