<div class="row-fluid">
    <div class="span6">
        <h3>Orders In Progress</h3>
    </div>
    <div class="span6" style="padding-top: 10px">
        <form class="form-inline pull-right">
            <select>
                <option>Today</option>
                <option>Last Week</option>
            </select>
        </form>
    </div>

</div>

<br />
<table class="table table-bordered">
    <tr>
        <td width="20%">ABC</td>
        <td>
            <div class="progress progress-warning">
                <div class="bar" style="width: 28%;">
                    &nbsp;

                </div>
            </div>
        </td>
        <td width="10%">15</td>
    </tr>
    <tr>
        <td>ASDF</td>
        <td>
            <div class="progress progress-danger">
                <div class="bar" style="width: 25%;">
                    &nbsp;

                </div>
            </div>
        </td>
        <td>45</td>
    </tr>
    <tr>
        <td>JKLR</td>
        <td>
            <div class="progress">
                <div class="bar" style="width: 10%;">
                    &nbsp;

                </div>
            </div>
        </td>
        <td>65</td>
    </tr>
    <tr>
        <td>BLADE</td>
        <td>
            <div class="progress progress-success">
                <div class="bar" style="width: 95%;">
                    &nbsp;

                </div>
            </div>
        </td>
        <td>95</td>
    </tr>
</table>