@section LeftColumn
{
    <ul class="nav nav-tabs nav-stacked" id="myTab">
        <li class="active"><a href="#OrdersByCampaign">Orders By Campaign</a></li>
        <li><a href="#OrdersInProgress">Orders In Progress</a></li>
        <li><a href="#CustomersByState">Customers By State</a></li>
    </ul>
}

<div class="tab-content">

   Super Dashboard

</div>
