<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Local" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=Onboarding;Integrated Security=True; MultipleActiveResultSets=True" />
    <add name="Onboarding" connectionString="Data Source=;AttachDbFilename=c:\Data\Onboarding.mdf;Integrated Security=True;Initial Catalog=Onboarding" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>