@model DemoApplication.Controllers.Organizations.OrganizationListModel

@{
    ViewBag.Title = "Organizations";
}

<h2>Organizations</h2>

<table class="table">
    <tr>
        <th>
            asdf
        </th>
        <th>
            asdf
        </th>
        <th>
            asdf
        </th>
        <th>
            asdf
        </th>
    </tr>
</table>
